useDynLib(dtts, .registration=TRUE)
import("methods")
import("Rcpp")
import("RcppCCTZ")
import("bit64")
import("nanotime")
import("data.table")
importFrom("utils", "tail")
exportMethods("align_idx")
exportMethods("align")
exportMethods("grid_align")
exportMethods("ops")
