useDynLib(dtts, .registration=TRUE)
import("methods")
import("Rcpp")
import("RcppCCTZ")
importFrom("bit64", "integer64")
importFrom("data.table", "data.table", "key", "setkeyv")
importFrom("nanotime", "as.nanoduration", "as.nanoperiod", "nanoperiod", "plus")
importFrom("utils", "tail")
exportMethods("align_idx")
exportMethods("align")
exportMethods("grid_align")
exportMethods("ops")
