useDynLib(dtts)
import("methods")
import("Rcpp")
import("bit64")
import("nanotime")
import("data.table")

exportMethods("align.idx")
exportMethods("align")
exportMethods("grid.align")
exportMethods("frequency")
